<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <img src="https://media.licdn.com/dms/image/C4D0BAQHD0_obB6jcdg/company-logo_200_200/0/1644270790777/netby_it_consulting_logo?e=2147483647&v=beta&t=QlLLO0jiK092A2nO7Q1kYBM-mDD73ti01aQAHsPbmB4" alt="Image" height="50" class="mb-3" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
                    <div class="text-900 text-3xl font-medium mb-3">Bienvenido, Netby!</div>
                    <span class="text-600 font-medium">Ingrese para continuar</span>
                </div>

                <div>
                    <label for="email1" class="block text-900 text-xl font-medium mb-2">Usuario</label>
                    <input id="email1" type="text" placeholder="Username" pInputText [(ngModel)]="username" class="w-full md:w-30rem mb-5" style="padding:1rem" aria-describedby="username-help" >

                    <label for="email1" class="block text-900 text-xl font-medium mb-2">Contraseña</label>
                    <input id="email1" type="text" placeholder="Password" pInputText [(ngModel)]="password" class="w-full md:w-30rem mb-5" style="padding:1rem">

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                    </div>
                    <button pButton pRipple label="Ingresar" class="w-full p-3 text-xl" (click)="Login()"></button>
                    <button pButton pRipple label="Registrarse" class="w-full p-3 text-xl mt-3" [routerLink]="['/auth/register']"></button>
                </div>
            </div>
        </div>
    </div>
</div>
